/* Container and Section */
.r-wrapper {
  background-color: #f9f9f9;
  padding: 2rem 0;
}

.r-container {
  overflow: hidden;
  position: relative;
}

/* Header */
.r-head {
  margin-bottom: 2rem;
  text-align: center;
}

.orangeText {
  color: orange;
  font-weight: bold;
}

.primaryText {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Cards */
.r-card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: 15rem;
  margin: auto;
  background: white;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.r-card img {
  width: 100%;
  border-radius: 8px;
}

.r-price {
  font-size: 1.1rem;
  font-weight: 600;
}

.priceSymbol {
  color: orange;
  margin-right: 0.2rem;
}

.r-card:hover {
  transform: scale(1.025);
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 160, 255, 0.46) 217.91%);
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

/* Swiper */
.swiper-horizontal {
  overflow: visible;
}

/* Slider Buttons */
.r-buttons {
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}

.r-buttons button {
  font-size: 1rem;
  color: blue;
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.r-buttons button:hover {
  background-color: #eeeeff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 640px) {
  .r-head {
    align-items: center;
  }

  .r-buttons {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .r-card {
    max-width: 12rem;
  }

  .r-card img {
    border-radius: 5px;
  }
}
