.h-container{
    padding: 1rem 0;
    justify-content: space-between;
    color: var(--secondary);
}
.h-container>p::first-letter{
font-size: 2.7rem;
color: var(--blue);
}
.Target{
  font-size: 2.7rem;
color: var(--blue); 
font-weight: normal; 
}
.h-container>p{
    color: grey;
    border: 1.2px solid rgb(153, 162, 245);
    padding: 1px 19px;
    border-radius: 25px;
}

.h-wrapper{
    background-color:var(--black) ;
    color: white;
}
.h-menu{
    gap: 2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}